.jumbotron
{
 text-align: center;
 background-color: #182C39;
 color:white;
}
.col
{
  color: ;
}
.container
{
  background-color: #182C39;
  color:
}

li
{
  text-align: center;
  width: 100px;
  height: 30px;
  line-height: 30px;
  float:left;
  list-style:none;
}

main
{
float: inherit;
}
container main
{
  text-align: center;

}
